<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Big Boy Games
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  <h1><strong>Olá, José! <br> Qual o game de hoje?</strong></h1>

  <ion-item>
    <ion-icon name="search-outline" slot="start"></ion-icon>
    <ion-label position="floating">Buscar</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-row class="ion-align-items-center">
    <ion-col size="auto">
      <h3>DESTAQUES E RECOMENDADOS</h3>
    </ion-col>
  </ion-row>

  <ion-card class="ion-activatable ripple-parent">
    <img src="https://cdn.akamai.steamstatic.com/steam/apps/1245620/capsule_616x353.jpg?t=1654259241">
    <ion-card-header>
      <ion-row>
        <ion-col>
          <ion-card-title><strong>ELDEN RING</strong></ion-card-title>
          <ion-card-subtitle>R$ 249,90</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>

  <ion-row class="ion-align-items-center">
    <ion-col size="auto">
      <h2>Ofertas</h2>
    </ion-col>
      <ion-col size="auto">
        <ion-badge color="danger">
          Hot
        </ion-badge>
      </ion-col>
      <ion-col size="auto" class="ml-auto">
        <ion-button fill="clear">
          Mais >
        </ion-button>
      </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="image-card ion-activatable ripple-parent">
      <img src="https://cdn.akamai.steamstatic.com/steam/apps/275850/capsule_616x353_alt_assets_12.jpg?t=1659081573">
      <p>No Man's Sky</p>
      <p>R$ 64,99</p>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
    <ion-col class="image-card ion-activatable ripple-parent">
      <img src="https://cdn.akamai.steamstatic.com/steam/apps/1466860/capsule_616x353.jpg?t=1661550188">
      <p>Age of Empires IV</p>
      <p>R$ 109,99</p>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
    <ion-col class="image-card ion-activatable ripple-parent">
      <img src="https://cdn.akamai.steamstatic.com/steam/apps/814380/capsule_616x353.jpg?t=1603904569">
      <p>Sekiro™: Shadows Die Twice</p>
      <p>R$ 99,95</p>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
  </ion-row>

  <h2>Desenvolvedoras de destaque</h2>

  <ion-row>
    <ion-col size="auto">
      <ion-avatar class="medium">
        <img src="https://avatars.akamai.steamstatic.com/97ea9619ba3076b8549c1484bef9308a67f0c64d_full.jpg" />
      </ion-avatar>
    </ion-col>
    <ion-col size="auto">
      <ion-avatar class="medium">
        <img src="https://avatars.akamai.steamstatic.com/2fd0f505a45e9af6442b59955d596f2f395ed0ba_full.jpg" />
      </ion-avatar>
    </ion-col>
    <ion-col size="auto">
      <ion-avatar class="medium">
        <img src="https://avatars.akamai.steamstatic.com/ebb835e7d630cc56a2e7b918d4a55d48450508b2_full.jpg" />
      </ion-avatar>
    </ion-col>
    <ion-col size="auto">
      <ion-avatar class="medium">
        <img src="https://avatars.akamai.steamstatic.com/d83a1786f23929deb5f20326f128bbc13a9a1e85_full.jpg" />
      </ion-avatar>
    </ion-col>
    <ion-col size="auto">
      <ion-button fill="clear">
        Avalie >
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>